<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.enron.indexer.log4j"
	shutdownHook="disable">
	<Appenders>
		<RollingFile name="RollingFile" fileName="logs/import.log" filePattern="logs/import-%d{yyyy-MM-dd-HH-mm-ss}.log">
			<PatternLayout pattern="%d #ENRON# %-5p: - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d #ENRON# %-5p: - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Application Loggers -->
		<Logger name="com.enron.indexer" level="warn" />
		<Logger name="com.enron.indexer.Main" level="info" />
		<Root level="error">
			<AppenderRef ref="STDOUT" level="info" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>